@model IEnumerable<BusinessObjectModel.College>

@{
    ViewBag.Title = "College Students";

}

<h2>College Students</h2>

    <div class="row d-flex justify-content-end">
        <div class="col-md-9 pt-2">
            <div class="create mt-2">
                @Html.ActionLink("Add Student", "Create", new { @class = "btn btn-primary btn-sm" })</div>
            </div>
        <div class="col-md-3">
            @using (Html.BeginForm("Search", "CollegeStudents", FormMethod.Get))
            {
                <p>
                    @Html.TextBox("SearchString")
                    <input type="submit" value="Search" class="btn btn-primary btn-sm">
                </p>
            }
        </div>
    </div>
    

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.House_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.College_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Generation_of_Student)
        </th>
      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.College_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Generation_of_Student)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class = "btn btn-info btn-sm" })
                <button type="button" class="btn btn-danger btn-sm" id="modal" data-toggle="modal" data-target="#exampleModal">
                    Delete
                </button>
            </td>
        </tr>

    @Html.Partial("_Modal", Model)
    }
</table>


